@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Roboto+Slab&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  p {
    @apply leading-7;
    @apply text-gray-800;
  }

  a {
    @apply underline;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab';
    @apply text-gray-800;
  }

  body {
    font-family: 'Fauna One';
  }
}